body {
  background: black;
}

.header {  /*everything at the top of the page*/
  color: orange;
  background: black;
  font-family: sans-serif;
  text-align: center;
  padding: 3px;
  width: 500px;
}

.toprow {  /*everything in line with the ghost*/
  display: flex;
  width: 500px;
  height: 156px;
}

.header img {  /*pumpkin controls*/
  float: right;
  width: 100px;
}

.ghost img {
  width: 150px;
  align: left;
  vertical-align: middle;
}

.ghosttalk {  /*text adjacent to the ghost*/
  align: right;
  flex: 1;
  position: fixed;
  left: 160px;
}

.ghosttalk h2 {
  color: white;
  text-align: left;
}

.options {  /*buttons to give user options*/
  vertical-align: bottom;
}

h2 {
  color: yellow;
}

h4 {
  color: aqua;
}

button {
  background: MidnightBlue;
  color: OldLace;
  border: MidnightBlue;
  margin: 5px;
  padding: 5px;
  font-size: 16px;
  font-weight: bold;

}

.popups{  /*what pops up after you press a button*/
  display: flex;
}

.monster{
  color: white;
  font-size: 20px;
  display: none;
}

.monster img{
  width: 100px;
}

.Owl {
font-size: 20px;
color: white;
display: none;
}

.Owl img {
  width: 80px;
}

h1 {
  color:white;
  font-size: 25px;
}

.pizza { /*contains the instructions and actions for the page*/
  font-family: sans-serif;
  width: 100%;
  height: 200px;
  background: tan;
  font-weight: bold;
  padding: 4px;
}

.slideline { /*puts the text on the line with the slider*/
  display: flex;
  width: 100%;
}

.dracula {
  font-color:white;
  display: flex;
}
